<div class="container-fluid">
  <br/>

  <div class="container-fluid" style="text-align:right">
    <div class="btn-group" role="group" aria-label="Basic example">

      <button type="button" routerLink="/profile" class="btn btn-secondary btn-lg" *ngIf="username">
          <span *ngIf="isUserAdmin()"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
          <span *ngIf="!isUserAdmin()"><i class="fa fa-user" aria-hidden="true"></i></span>
        {{username}}
      </button>

        <!-- dropdown button - don't working, don't know why -->
        <!-- <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu" *ngIf="username">
            <span><i class="fa fa-user" aria-hidden="true"></i></span>
          {{username}}
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" routerLink="/profile"> ProfileAction</a>
            <a class="dropdown-item" routerLink="/profile">Previous Orders</a>
          </div> -->


      <button type="button" routerLink="/shoppingcart" class="btn btn-secondary btn-lg" *ngIf="username">
        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
      </button>
      <button type="button" class="btn btn-secondary btn-lg" *ngIf="!username" (click)="showRegister = false; showLogin = true">
        Login
        <span><i class="fa fa-sign-in" aria-hidden="true"></i></span>
      </button>
      <button type="button" class="btn btn-secondary btn-lg" *ngIf="!username" (click)="showLogin = false; showRegister = true">
        Register
        <span><i class="fa fa-user-plus" aria-hidden="true"></i></span>
      </button>
      <button type="button" class="btn btn-secondary btn-lg" *ngIf="username" (click)="logout()">
        Logout
        <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
      </button>
      <!-- <button type="button" class="btn btn-secondary btn-lg">{{username}}</button> -->
    </div>
  </div>

  <!-- login -->
  <div class="container-fluid" style="text-align:left" *ngIf="showLogin">
    <br/>
    <div>
      <label><b>Username: </b></label>
      <input type="text" placeholder="Your username" class="form-control input-sm" [(ngModel)]="loginUsername"/>
    </div>
    <br>
    <div>
      <label><b>Password: </b></label>
      <input type="password" placeholder="Your password" class="form-control input-sm" [(ngModel)]="loginPassword"/>
    </div>
    <br/>
    <button class="btn btn-lg btn-block btn-success" (click)="showLogin = false; login()">
      Login <span><i class="fa fa-sign-in" aria-hidden="true"></i></span>
    </button>
    <button type="button" class="btn btn-lg btn-block btn-danger" (click)="showLogin = false">Cancel
      <span><i class="fa fa-ban" aria-hidden="true"></i></span>
    </button>
    <br/>
  </div>
  <br *ngIf="info"/>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="info">{{info}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="info = ''">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <!-- register -->
  <div class="container-fluid" style="text-align:left" *ngIf="showRegister">
    <br/>
    <form>
      <div class="form-group">
        <label><b>Username</b></label>
        <input type="text" class="form-control" name="aName" required [(ngModel)]="newUser.pk_username">
      </div>
      <div class="form-group">
        <label><b>Name</b></label>
        <input type="text" class="form-control" name="aName" [(ngModel)]="newUser.name">
      </div>
      <div class="form-group">
        <label><b>Surname</b></label>
        <input type="text" class="form-control" name="aSurname" [(ngModel)]="newUser.surname">
      </div>
      <div class="form-group">
        <label><b>Email address</b></label>
        <input type="email" class="form-control" name="aEmail" required [(ngModel)]="newUser.email">
      </div>
      <div class="form-group">
        <label><b>New Password</b></label>
        <input type="password" class="form-control" name="aPW1" required [(ngModel)]="newUserPW1">
      </div>
      <div class="form-group">
        <label><b>Repeat Password</b></label>
        <input type="password" class="form-control" name="aPW2" required [(ngModel)]="newUserPW2">
      </div>
      <div class="form-group">
        <label><b>Company-Name</b></label>
        <input type="text" class="form-control" name="aCompanyName" [(ngModel)]="newUser.companyname">
      </div>
      <div class="form-group">
        <label><b>Billing Address</b></label>
        <input type="text" class="form-control" name="aBillingAddress" [(ngModel)]="newUser.billingaddress">
      </div>
      <div class="form-group">
        <label><b>Delivery Address</b></label>
        <input type="text" class="form-control" name="aDeliveryAddress" [(ngModel)]="newUser.deliveryaddress">
      </div>
      <div class="form-group">
        <label><b>VAT</b></label>
        <input type="text" class="form-control" name="aVat" [(ngModel)]="newUser.vat">
      </div>
      <div class="form-group">
        <label><b>Name on Credit Card</b></label>
        <input type="text" class="form-control" name="aNameOnCC" [(ngModel)]="newUser.nameoncc">
      </div>
      <div class="form-group">
        <label><b>Creditcard Number</b></label>
        <input type="text" class="form-control" name="aCCNr" [(ngModel)]="newUser.creditcardnr">
      </div>
      <div class="form-group">
        <label><b>Creditcard Validyear</b></label>
        <input type="number" class="form-control" name="aValidYear" min="1" max="4000" ngMin="1" ngMax="4000" [(ngModel)]="newUser.validyear">
      </div>
      <div class="form-group">
        <label><b>Creditcard Validmonth</b></label>
        <input type="number" class="form-control" name="aValidMonth" min="1" max="12" ngMin="1" ngMax="12" [(ngModel)]="newUser.validmonth">
      </div>
      <div class="form-group">
        <label><b>Creditcard CCV</b></label>
        <input type="number" class="form-control" name="aNameOnCC" [(ngModel)]="newUser.ccv">
      </div>
      <br *ngIf="errorMessageAdd"/>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessageAdd">{{errorMessageAdd}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessageAdd = ''">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br *ngIf="successMessageAdd"/>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessageAdd">{{successMessageAdd}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successMessageAdd = ''">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <button type="button" class="btn btn-lg btn-block btn-success" (click)="register()">Register
        <span><i class="fa fa-user-plus" aria-hidden="true"></i></span>
      </button>
      <button type="button" class="btn btn-lg btn-block btn-danger" (click)="showRegister = false">Cancel
        <span><i class="fa fa-ban" aria-hidden="true"></i></span>
      </button>
    </form>
    <br/>
  </div>

  <div class="container-fluid" style="text-align:left">
    <h1>
      WE <span><i class="fa fa-heart" aria-hidden="true"></i>
      </span> FOOD <span><i class="fa fa-cutlery" aria-hidden="true"></i>
      </span>
    </h1>
  </div>

  <br/>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="navbar-brand" routerLink="/home">We <span><i class="fa fa-heart" aria-hidden="true"></i>
    </span>Food</a>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <div *ngFor="let group of productgroups; index as i">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category', group.pk_groupid]">{{group.name}}
              <span><i class={{group.iconclass}} aria-hidden="true"></i></span>
            </a>
          </li>
        </div>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchTerm">
        <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/search', searchTerm]" type="button">Search</button>
      </form>
    </div>
  </nav>
  <br/>
  <router-outlet></router-outlet>

<!--
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="./assets/img2.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="./assets/img1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="..." alt="Third slide">
      </div>
    </div>
  </div> -->
</div>
