<h5 *ngIf="noProducts">
  We are sorry, but currently there no products available within that group.
</h5>

<div class="container-fluid">
    <div class="card-group">
      <div class="card" *ngFor="let product of products; index as i">
        <div class="text-center">
          <img class="card-img-top" src="/public/images/{{product.imagename}}" alt="Image of {{product.name}}">
        </div>
        <div class="card-block">
          <h4 class="card-title">{{product.name}}</h4>
          <p class="card-text">{{product.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">per {{product.soldper}}</li>
          <li class="list-group-item">Price: {{product.price}}&euro;</li>
          <li class="list-group-item">
              <form class="form-inline">
                <label>Amount:</label>&nbsp;
                <input class="form-control" type="number" min="0" max="99" ngMin="0" ngMax="99" name="{{product.pk_productid}}" [(ngModel)]="product.orderdAmount"/>&nbsp;
              </form>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-success" (click)="addProductToShoppingCart()">
              <span><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
            </button>
          </li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">We <span><i class="fa fa-heart" aria-hidden="true"></i>
          </span> Food </small>
        </div>
      </div>
    </div>
    <br/>
  </div>
