<div class="container-fluid" *ngIf="cart">
    <p>
        Der derzeitige Einkaufswagen
        <div *ngFor="let cartItem of cart; index as i">
            <button type="button" name={{cartItem.pk_cartid}} 
            class="list-group-item list-group-item-action" 
            (click)="cartItem.showDetails = true">
                ID: {{cartItem.pk_cartid}}
            </button>
           <div *ngIf="cartItem.showDetails">
                <br/>
                <p *ngIf="cartItem.productName">
                <b>Delivered Item: </b>
                {{cartItem.productName}}
                </p>
                <p>
                <b>Preis: </b>
                {{cartItem.price}}
                </p>
                <p>
                <b>Menge: </b>
                {{cartItem.amount}}
                </p>
    
    
            </div>
            
        </div>
    

</div>