<div class="container-fluid" *ngIf="cart">
    <p>
        Der derzeitige Einkaufswagen

        <br *ngIf="errorMessage"/>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">{{errorMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br *ngIf="successMessage"/>
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage">{{successMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successMessage = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div *ngFor="let cartItem of cart; index as i">
            <button type="button" name={{cartItem.pk_cartid}}
            class="list-group-item list-group-item-action"
            (click)="cartItem.showDetails = !cartItem.showDetails">

                {{cartItem.productName}}
            </button>
           <form *ngIf="cartItem.showDetails">
                <br/>

                <p>
                <div class="form-group">
                <label><b>Preis: </b></label>
                {{cartItem.price}}
                </div>


                <p>
                <div class="form-group">
                <label><b>Menge</b></label>
                <input type="text" class="form-control" name="amount" [(ngModel)]="cartItem.amount">
                </div>


                <button type="button" class="btn btn-sm btn-outline-success" (click)="saveChanges(i)">Save Changes
                  <span><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteItem(i)">Remove Item
                  <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                </button>
            </form>
            <br/>
        </div>

        <form *ngIf="cart.length > 0">
          <br/>
            <button type="button" class="btn btn-lg btn-success" (click)="process()">Send Order
              <span><i class="fa fa-shopping-cart " aria-hidden="true"></i></span>
            </button>
        </form>

</div>
